@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.main-nav {
  height: 100px;
  font-family: 'Ma Shan Zheng', sans-serif; 
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s forwards; 
  gap: 30px; 
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 30px; 
}

.main-nav li {
  display: inline-block;
  opacity: 0;
  animation: fadeInLink 1s forwards; 
  animation-delay: 0.3s; 
}


.main-nav a {
  text-decoration: none;
  color: #333;
  font-size: 2rem !important;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 15px; 
  background-color: rgba(255, 255, 255, 0.3); 
  transition: color 0.3s ease, background-color 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-item {
    margin-left:auto; 
    /* font-size: 1.2rem !important;  */
  }

.main-nav a:hover {
  color: #f3f6f97b; 
  background-color: rgba(255, 255, 255, 0.4);
}

.username-btn {
  font-family: 'Ma Shan Zheng', sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem !important;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: color 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  display: inline-block;
}

/* Use the same hover effect as links */
.username-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLink {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
